*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  background-image: linear-gradient(to right, rgb(255, 166, 0), rgb(43, 214, 191));
  filter: opacity(2px);
}
#form{ 
    padding: 30px;
    margin:40px;
    width: 40%;
    height: 800px;
    border: 2px solid black;
    display: block;
    background-color: rgba(255,255,255,0.6);
}
.tp {
  width: 100%;
  height: 80px;
  overflow: hidden;
  display: flex;
  align-items: center; /* aligns img and p vertically */
  padding: 0 20px; /* optional padding */
  margin: 0%;
}

.tp img {
  width: 80px;
  height: auto;
  object-fit: contain;
  max-width: 100%;
  max-height: 100%;
  justify-content: center;
  align-items: center;
}


.tp p {
  font-size: 20px; 
  margin-left:50px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bolder;
  margin: 0;
}
.mids{
    margin: 0%;
    margin-top: 50px;
    display:flex;
    width: 200px;
    height: 50px;
}
.mids img{ 
    width: 38px;
    gap: 50px;
    height: 50px;
    object-fit: contain;
    justify-content: center;
}
#inps{
    margin-top: 50px;
}
#inps input{
    width: 100%;
    height: 60px;
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: linear gradient(to right,
    rgba(0, 0, 0, 0.5)
    rgba(255,255,255,0.5) 80%,
    rgba(255,255,255,0.5) 20,
    rgba(0,0,0,0.5));
    margin:5px

}

#inps button{
    margin-top: 20px;
    padding: 10px 15px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    font-size: 25px;
    background: rgba(255, 0, 0, 1);
    height: auto;

}

#inps button:hover{
    color: rgb(255, 255, 255);
    background-color: rgb(55, 43, 224);
}